<!DOCTYPE html>
<html>
	<head>
		<title>First Name Last Name</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

		<style media="screen">

/*add large width to body*/


		.inlineblock {
			display:inline-block;
			margin: 30px;
			width: 300px;
		}


/*add header, position fixed, width 300px, left 50%, height 100px, */



/*Add container margin */


		</style>



	</head>
	<body>

<!-- Add Header with h1 and h6 -->


	<!--  Add container to add top margin-->

			<div class="inlineblock">
						Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
			</div>

			<div class="inlineblock">
						Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
			</div>

			<div class="inlineblock">
				Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
			</div>

			<div class="inlineblock">
						Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
			</div>

			<div class="inlineblock">
						Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
			</div>

			<div class="inlineblock">
				Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
			</div>





	</body>
</html>
