<!DOCTYPE html>
<html>
	<head>
		<title>First Name Last Name</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

		<style media="screen">

		/*Add a selector with the name .inlineblock, add the following styles within curly brackets display:inline-block; width:300px;*/


		</style>



	</head>
	<body>

		<!-- Create 3 x div with the class name inlineblock fill the div with text -->

		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;


	</body>
</html>
