<!DOCTYPE html>
<html>
	<head>
		<title>First Name Last Name</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

		<style media="screen">

		/*inlineblock style, inline block, margin and width*/



		/*Add vertical align to widthdouble*/

		</style>



	</head>
	<body>

		<!-- Create 3 x inlineblocks with text -->

		<!-- Add widthdouble style -->

		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;


	</body>
</html>
