<!DOCTYPE html>
<html>
	<head>
		<title>First Name Last Name</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

		<style media="screen">

 /*Header style width 100% position fixed top border 5px solid bottom*/
 /*text margin top 700px margin bottom 1500px*/

		.header {
			width: 100%;
			position:fixed;
			top:0px;
			border-bottom:5px solid;
		}

		.text {
			margin-bottom:1500px;
			margin-top:700px;
		}


		</style>



	</head>
	<body>


<!-- Create div class with h1 and h6 -->


		Title of the essay
		Sub title of the essay

<!-- Create div with a class -->

		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
		Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;





	</body>
</html>
