<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>
    <style media="screen">

    .inlineblock {
      display: inline-block;
      vertical-align:bottom;
      width: 200px;
      border:5px solid;
      padding:5px;
      margin:50px;
    }

    .widthdouble {
      width: 400px;
      margin-left:80px;
      margin-top:500px;
    }

    </style>
  </head>
  <body>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock widthdouble">
        Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock widthdouble">
        Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock widthdouble">
        Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock widthdouble">
        Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

    <div class="inlineblock">
      Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

  </body>
</html>
