<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>
  </head>

<style media="screen">

.blue {
  width:200px;
  display: inline-block;
}

.orange {
  width: 500px;
}

</style>

  <body>

    <div class="blue orange">Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>
    <div class="blue">Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
      Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>
    <div class="blue orange">
      Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>

    <div class="blue">Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>
    <div class="blue orange">Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>
    <div class="blue">
      Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>


    <div class="blue">Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>
    <div class="blue">Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>
    <div class="blue">
      Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better.
    </div>


  </body>
</html>
