<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 3</title>
  </head>

  <style media="screen">

  .title {
    position: fixed;
    bottom:50px;
    right:500px;

  }

  .text {

margin-top:600px;
font-size:70px;
font-family: arial;

  }

  .float {
    font-size:150px;
    float:left;
    border:1px solid;
  }




  </style>

  <body>



<div class="title">
  <h2>
If It Doesn't Exist on the Internet, It Doesn't Exist</h2>
</div>


<div class="border">
  here If It Doesn't Exist on the Internet, It Doesn't Exist
</div>



<div class="text">

<div class="float">BIG <br>TEXT <br>HERE</div>

  Not everyone is able to have access to intellectual materials in the way that we do. Only a fraction of web users have access to proprietary subscription services like LexusNexis, ProQuest, or Factiva. Public libraries, which have limited or no access to these subscription services, are understaffed and under-funded. Most rural libraries are in a sorry state. Urban libraries, too, are not faring much better. In New York City where I live, the local Barnes & Noble is often used instead of our pitiful public libraries. In the Barnes & Nobles, consumers are allowed to use books for research purposes without having to buy them. A typical user will be slung into a soft chair next to a stack of dog-eared books, sipping a cup of coffee, taking notes on a laptop. It's a nice idea, but we all know the market-driven limitations of what Barnes & Noble stocks. Most likely what you've written is not going to be showing up in a Barnes & Noble any time soon.
</div>


  </body>
</html>
