<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 3</title>
    <style media="screen">
    .margin {
      margin-left:200px;
      border-left:2px solid;
      padding-left: 100px;
      width: 400px;
    }

    .two {
      margin-left: 400px;
    }

    .three {
      margin-left: 600px;
    }


    </style>
  </head>
  <body>

    <div class="margin one">
      <h1>Header</h1>
      <h2>Header 2</h2>
    </div>
    <div class="margin two">Roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>
    <div class="margin three">Roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;
    </div>

  </body>
</html>
