/* setup */

body {
    background-color: black;
    color:white;
    margin:0px;
    padding:0px;
    font-size:20px;
    line-height: 21px;
}

div {
    box-sizing:border-box;
}

img {
   width:100%;
}

/* typography */

div.largetext {
    font-size:100px;
    line-height:90px;
}

div.mediumtext {
    font-size:50px;
    line-height:50px;
}

div.smalltext {
    font-size:16px;
    line-height:18px;
}

div.serif {
    font-family:'Times New Roman', Times, serif;
}

div.sans {
    font-family: Arial, Helvetica, sans-serif;
}

div.mono {
    font-family: 'Courier New', Courier, monospace;
}

/* colours */

div.textblue {
    color:blue;
}

div.textred {
    color:red;
}

div.bggray {
    background-color:gray;
}

div.bgwhite {
    background-color: white;
}

/* widths */

div.w100 {
    width:100%;
}

div.w80 {
    width:80%;
}

div.w75 {
    width: 75%;
}

div.w66 {
    width: 66.666%;
}

div.w60 {
    width: 60%;
}

div.w50 {
    width: 50%;
}

div.w40 {
    width: 40%;
}

div.w33 {
    width: 33.333%;
}

div.w25 {
    width: 25%;
}

div.w20 {
    width: 20%;
}

/* design */



